%% -*- mode: erlang -*-
{erl_opts, [debug_info, warnings_as_errors,
            {i, "./_build/default/plugins/gpb/include"}
 ]
}.

{plugins, [{rebar3_gpb_plugin, "2.22.1"},
           {riak_pb_msgcodegen, {git, "https://github.com/basho/riak_pb_msgcodegen", {tag, "1.0.0"}}}
          ]
}.

{deps, [{riak_pb, {git, "https://github.com/TI-Tokyo/riak-erlang-client.git", {tag, "3.0.13+tiot"}}}
]}.

{gpb_opts, [{module_name_suffix, "_pb"},
            {msg_name_to_lower, true},
            {defaults_for_omitted_optionals, true},
            {i, "src"}
           ]
}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}},
           {compile, riak_pb_msgcodegen}]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.
